/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */   
body, .container{
    background-color: #083b4c;
}

/* CONTAINER */
.container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* BOX */
.box{
    width: 100px;
    height: 100px;
    margin: 20px;
}